{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- <link rel="shortcut icon" href="{% static 'favicon.ioc' %}" type="image/x-icon"> -->
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon|Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" >   {% endblock  %}
    {% if title %}
    <title> blog-{{title}}</title>
    {% else %}
    <title> blog</title>
    {% endif  %}

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'home' %}">
            MyBlog
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blog' %}">Blogs</a>
                </li>
               
                {% if user.is_authenticated %}
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li> {% endif %}
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'addblog' %}">Add Post</a>
                </li>
                {% endif %}
                <li>
                    
                    <!-- Button trigger modal -->
                </li>

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            {% if user.is_authenticated %}
                    <button type="button" class="btn btn-info ml-5 mr-5" >
                        <a href="{% url 'logout' %}" class="logout">
                            
                            Logout
                        </a>
                      </button>
                    {% else %}

                    <button type="button" class="btn btn-primary ml-5 mr-5" data-toggle="modal" data-target="#exampleModal">
                        Login
                      </button>
                    {% endif %}
        </div>
    </nav>
    {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        <strong>Note:</strong>{{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>{% endfor %}
    <div class="body">
        <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Login Here</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form method="POST" action="{% url 'login' %}"> {% csrf_token %} 
                <div class="loginform">
                    <img src="{% static 'logo.png' %}" class="logo">
                    <i class="fas fa-user"><input type="text" id='username' name="username" placeholder='Username' ></i>
                    <i class="fas fa-unlock"><input type="password" id='password' name="password" placeholder='password'></i>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Login</button>
                  </div>

             </form>
         
        </div>
       
      </div>
    </div>
  </div>
        {% block container %}

        {% endblock %}

    </div>
    <footer>
        <div class="ftr">
            <div class="info">
                <h1>About us</h1>
                <p><i class="far fa-envelope"></i>Email:kingspider224@gmail.com</p>
                <p><i class="fas fa-location-arrow"></i>location: Lumbini,Nepal</p>
                <p><i class="fas fa-phone"></i>Phone: 985236741</p>

            </div>
            <div class="social">
                <h1>Follow us on</h1>
                <li>
                    <a href="">
                        <i class="fab fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>

            </div>
            <div class="subs">
                <form>
                    <h1>Subscribe to our website</h1>
                    <input type="email" class="inp" placeholder="Enter Email">
                    <button type="submit" class="btn">Subscribe</button>
                </form>
            </div>
        </div>
<div class="last">
    <p> &copy; Designed by <strong>Roshan Pokhrel </strong></p>
</div>
    </footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>